@inherits LayoutComponentBase

<main>
    @Body
</main>

<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <small>&copy; @DateTime.Now.Year Cristhian Fonseca</small>
    </div>
</footer>
