@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <NavMenu />

    <main class="flex-grow-1 d-flex flex-column" role="main">
        @Body
    </main>

    <AppFooter />
</div>
